{% extends "page/layout.html.twig" %}

{% block contenido %}
<section class="container" style="text-align:center">
<div class="row">
<div class="globos col-xl-4">
<img src="/img/globos.png"/>
</div>

<div class="col-xl-4" style="align-content: center;
display: grid;">
<h1>¡Enhorabuena por tu compra!</h1>
<p>Acabas de realizar tu compra con exito en Yomo y te lo entregaremos en 3/4 dias laborales</p>
<p>Aqui puedes ver la factura de lo que has pedido.</p>
</div>
<div class="globos col-xl-4">
<img src="/img/globos.png"/>
</div>
</div>
</section>
{% endblock %}