<!DOCTYPE html>

<title>New CuentasBank</title>

{% block body %}
    <h1>Create new CuentasBank</h1>

    {{ include('cuentas_bank/_form.html.twig') }}

    <a href="{{ path('cuentas_bank_index') }}">back to list</a>
{% endblock %}
